<div class="box-root">

    <a routerLink="#" class="img-link">
        <div class="img-box">
            <img src="/assets/usuario2.5.png" class="rounded-circle me-2 User-img">
        </div>
    </a>

    <div class="user-name-box">
        <h5 class="name"><span class="horse">♞</span> UserName <span class="horse">♞</span></h5>
    </div>

    <div class="Active-Check">
        <p class="Active-text">Activity: </p>
        <div class="Date-Active-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-circle Active-svg" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            </svg>
            <p class="Date-Active-text">{{DateFormat}}</p>
        </div>
    </div>

    <div class="box-quote">
        <figure>
            
            <blockquote class="blockquote">
              <p class="quote text-center">
                <span class="quote-symbol">❝</span> La motivación enciende el motor de la productividad, convirtiendo sueños en logros <span class="quote-symbol">❞</span>
              </p>
            </blockquote>

            <figcaption class="blockquote-footer text-center">
              <cite title="Source Title">Chat GPT 3.5</cite> (≖ ͜ʖ≖) 
            </figcaption>

        </figure>
    </div>

    <div class="Location-box">
        <div>
            <h5 class="Location-title text-center">
                <span class="Location-icon">➽</span>
                Location
                <span class="Location-icon">➽</span>
            </h5>
            <p class="Location-text text-center">Dominican Republic</p>
        </div>
    </div>

    <div class="Animation-box">
        <img src="assets/personal goals checklist.gif" class="Animation-gif">
    </div>

</div>



