.Base-Box-Root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.Base-Box {
    width: 100%;
    max-width: 100%; /* O ajusta el valor según tus necesidades */
    height: max-content;
    margin: 10px;
    background-color: #fefefe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregando sombra para resaltar el cuadro */
    box-sizing: border-box; /* Para incluir padding en el ancho */
    border-radius: 10px;
}

.center-box{
    padding: 5px;
}

/* This part is for the Header */

.Top-title{
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.title-box{
    margin-top: 14px;
}

.work-svg{
    width: 35px;
    height: auto;
    margin-bottom: 15px;
    margin-right: 20px;
    color: #0d55ff;
}

.pencil-task{
    color: #0d55ff;
}

.header-box{
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .Top-title{
        font-size: 20px;
    }
    .work-svg{
        width: 25px;
        height: auto;
        margin-bottom: 5px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1024px){
    .Top-title{
        font-size: 25px;
    }
    .work-svg{
        width: 30px;
        height: auto;
        margin-bottom: 10px;
        margin-right: 20px;
    }
}

/* This part is for the Task down Section */
.Task-home-box{
    width: min-content;
    height: min-content;
    background: #fefefe;
    box-shadow: 0px 0px 10px #78a1ff;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

/* Animation */
.task-animation{
    width: 200px;
    height: auto; 
    margin-top: 50%;
    margin-bottom: 50%;
}

/* Css of the New Task */
.task-button{
    background: #0d55ff;
    box-shadow: 0px 0px 10px #78a1ff;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.task-button:hover{
    background: #2768ff;
    box-shadow: 0px 0px 15px #78a1ff;
}

.task-box{
    margin-top: 4px;
}

.task-svg{
    margin-right: 13px;
    margin-bottom: 4px;
}

.task-text{
    color: #fefefe;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.task-svg{
    color: #fefefe;
    transition: color 0.3s ease, transform 0.3s ease;
}

.task-button:hover .task-svg{
    transform: scale(1.2,1.2);
}

.task-button:hover .task-text{
    font-weight: 600;
}
