/* Delete Button */
.btn-delete-task-box {
    border: none;
    background-color: #fefefe;
    border: solid 2px #2768ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 32px;
    color: #2768ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.delete-svg{
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-delete-task-box:hover{
    background-color: #ff2743;
    box-shadow: 0px 0px 10px #ff2743;
    border: solid 2px #ff2743;
    color: #fefefe;
}

.btn-delete-task-box:hover .delete-svg{
    transform: scale(1.3,1.3);
}

/* Edit Button */
.btn-edit-task-box {
    border: none;
    background-color: #fefefe;
    border: solid 2px #2768ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 32px;
    color: #2768ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.edit-svg{
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-edit-task-box:hover{
    background-color: #ffce3f;
    box-shadow: 0px 0px 10px #ffce3f;
    border: solid 2px #ffce3f;
    color: #fefefe;
}

.btn-edit-task-box:hover .edit-svg{
    transform: scale(1.3,1.3);
}

/* Details Button */
.btn-details-task-box {
    border: none;
    background-color: #fefefe;
    border: solid 2px #2768ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 32px;
    color: #2768ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.details-svg{
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-details-task-box:hover{
    background-color: #00a3ee;
    box-shadow: 0px 0px 10px #00a3ee;
    border: solid 2px #00a3ee;
    color: #fefefe;
}

.btn-details-task-box:hover .details-svg{
    transform: scale(1.3,1.3);
}
