/* Delete Button */
.btn-delete-task-box {
    border: none;
    background-color: #fefefe;
    border: solid 2px #2768ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 32px;
    color: #2768ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.delete-svg{
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-delete-task-box:hover{
    background-color: #ff2743;
    box-shadow: 0px 0px 10px #ff2743;
    border: solid 2px #ff2743;
    color: #fefefe;
}

.btn-delete-task-box:hover .delete-svg{
    transform: scale(1.3,1.3);
}

/* Edit Button */
.btn-edit-task-box {
    border: none;
    background-color: #fefefe;
    border: solid 2px #2768ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 32px;
    color: #2768ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.edit-svg{
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-edit-task-box:hover{
    background-color: #ffce3f;
    box-shadow: 0px 0px 10px #ffce3f;
    border: solid 2px #ffce3f;
    color: #fefefe;
}

.btn-edit-task-box:hover .edit-svg{
    transform: scale(1.3,1.3);
}

/* Details Button */
.btn-details-task-box {
    border: none;
    background-color: #fefefe;
    border: solid 2px #2768ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    border-radius: 32px;
    color: #2768ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.details-svg{
    margin-bottom: 5px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.btn-details-task-box:hover{
    background-color: #00a3ee;
    box-shadow: 0px 0px 10px #00a3ee;
    border: solid 2px #00a3ee;
    color: #fefefe;
}

.btn-details-task-box:hover .details-svg{
    transform: scale(1.3,1.3);
}

/* details-list */
.details-list{
    list-style: none;
}

.Modal-Details-name-box{
    background-color: #fefefe;
    box-shadow: 0px 0px 10px #fefefe;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.Modal-Details-description-box{
    background-color: #fefefe;
    box-shadow: 0px 0px 10px #fefefe;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.Modal-Details-resourses-box{
    background-color: #fefefe;
    box-shadow: 0px 0px 10px #fefefe;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Details-Title, .Details-Description, .Details-Resourses{
    margin: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #2768ff;
}

.Modal-Details-name, .Modal-Details-description, .Modal-Details-resourses{
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px 1px #cfdeff;
    transition: box-shadow 0.3s ease;
}

.Modal-Details-name:hover, .Modal-Details-description:hover, .Modal-Details-resourses:hover{
    box-shadow: inset 0px 0px 3px 1px #bad0ff;
}

.Modal-Details-name-box-two{
    margin-top: 15px;
    margin-bottom: 8px;
}