
/* details-list */
.details-list{
    list-style: none;
}

.Modal-Details-name-box{
    background-color: #fefefe;
    box-shadow: 0px 0px 10px #fefefe;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.Modal-Details-description-box{
    background-color: #fefefe;
    box-shadow: 0px 0px 10px #fefefe;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.Modal-Details-resourses-box{
    background-color: #fefefe;
    box-shadow: 0px 0px 10px #fefefe;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Details-Title, .Details-Description, .Details-Resourses{
    margin: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #2768ff;
}

.Modal-Details-name, .Modal-Details-description, .Modal-Details-resourses{
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px 1px #cfdeff;
    transition: box-shadow 0.3s ease;
}

.Modal-Details-name:hover, .Modal-Details-description:hover, .Modal-Details-resourses:hover{
    box-shadow: inset 0px 0px 3px 1px #bad0ff;
}

.Modal-Details-name-box-two{
    margin-top: 15px;
    margin-bottom: 8px;
}