<!-- Base Template -->
<div class="Base-Box-Root">
    <div class="Base-Box">
        <div class="container-fluid">
            <div class="row g-0">
                <!-- Right -->
                <div class="col-md-2">
                    <div class="Nanbar-Section">
                        <app-nav-bar></app-nav-bar>
                    </div>
                </div>
                <!-- Center -->
                <div class="col-md-8 mb-4">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="row header-box">
                                    <div class="col-md-8">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace work-svg" viewBox="0 0 16 16">
                                            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                                        </svg>
                                        <span class="Top-title">working for a better me</span>
                                    </div>
                                    <div class="col-md-4">
                                        <app-box-search></app-box-search>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <app-slider></app-slider>
                            </div>
                            <div class="col-md-5">
                                <app-calendar></app-calendar>
                            </div>
                            <!-- down -->
                            <!-- <div class="col-md-12">
                                <div class="card Task-home-box">
                                    <div class="card-body">
                                        With supporting text below as a natural lead-in to additional content.
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- Left -->
                <div class="col-md-2">
                    <div class="User-Section">
                        <app-user></app-user>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>