<div class="Carrousel-box">
    <div id="myCarousel" class="carousel slide Carrousel-container" data-bs-ride="carousel" data-bs-interval="5000">
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner Carrousel-filter">
            <div class="carousel-item active">
                <img src="/assets/Motivation Quoties/Quote (1).png" class="d-block w-100" alt="Slide 1">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (2).png" class="d-block w-100 img-overlay" alt="Slide 2">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (3).png" class="d-block w-100" alt="Slide 3">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (4).png" class="d-block w-100" alt="Slide 1">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (5).png" class="d-block w-100" alt="Slide 2">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (6).png" class="d-block w-100" alt="Slide 3">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (7).png" class="d-block w-100" alt="Slide 1">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (8).png" class="d-block w-100" alt="Slide 2">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (9).png" class="d-block w-100" alt="Slide 3">
            </div>

            <div class="carousel-item">
                <img src="/assets/Motivation Quoties/Quote (10).png" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
    </div>
</div>