<!-- Social Media Section -->
<app-social-media-buttons></app-social-media-buttons>

<router-outlet></router-outlet>

<!-- Base Template -->
<!-- <div class="Base-Box-Root">
    <div class="Base-Box">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-md-2">
                    <div class="bg-danger text-white">
                        NavBar
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="bg-secondary text-white">
                        Center
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-info text-white">
                        User
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->