/* .Base-Box-Root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.Base-Box {
    width: 90%;
    max-width: 100%; 
    height: max-content;
    margin: 10px;
    background-color: #fefefe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    border-radius: 10px;
}
 */

