<div class="Base-Box-Root">
    <div class="Base-Box">
        <div class="container-fluid">
            <div class="row g-0">
                <!-- Right -->
                <div class="col-md-2">
                    <div class="">
                        <div class="Nanbar-Section">
                            <app-nav-bar></app-nav-bar>
                        </div>
                    </div>
                </div>

                <!-- Center -->
                <div class="col-md-8">
                    <div class="">
                        <div class="row center-box text-center">
                            <!-- Task Title -->
                            <div class="col-md-4 title-box">
                                <span class="Top-title"><span class="pencil-task">✎</span> Note DashBoard</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>